@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

div.display {
    flex-direction: column;
    width: 370px;
    text-align: right;
    border: 1px solid rgb(118, 118, 118);
    margin: 2px;
    padding: 5px;
    
}

#history {
    font-family: 'Orbitron', sans-serif;
    height: 20px;
}

#answer {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    height: 37px;
}

td.display {
    padding: 2px;
}

.tg  {
    margin-top: 15vh;
    margin-left:auto; 
    margin-right:auto;
    border-collapse:collapse;
    border-spacing:0;
}

.tg td{
    border-style:solid;
    border-width:0px;
    padding:2px;
}

.tg .tg-keypad{
    text-align:center;
    vertical-align:center;
    padding:2px;
}

button {
    width: 70px;
    height: 70px;
    margin: 0px;
    font-size: 20px;
}

.equal {
    height: 150px;
}

.zero {
    width: 150px;
}